In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('adult.csv')
df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [3]:
df.shape

(32560, 15)

<h4 style="color:blue">Reanming the columns with the given names</h4>

In [4]:
df.columns = ['Age', 'Workclass', 'Fnlwgt','Education','education_num','marital_status','occupation','relationship','race','sex','capital_gain','capital_loss','hours_per_week', 'native_country','income' ]
df.head()

,Age,Workclass,Fnlwgt,Education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

<h4 style="color:blue">checking and removing null value</h4>

In [5]:
df.isnull().sum()

Age               0
Workclass         0
Fnlwgt            0
Education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

<h4 style="color:blue">checking the data types of the columns</h4>

In [6]:
df.dtypes

Age                int64
Workclass         object
Fnlwgt             int64
Education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

<h4 style="color:blue">Here we are first spliting the data to x = input and y = output</h4>
<h4 style="color:blue">After that we can perform chage in data type from object to integer or float</h4>

In [7]:
x = df.iloc[:,:-1]
#  it is equal to 
# x= df[['sepal.length','sepal.width','petal.length','petal.width']]
y = df.iloc[:,-1]
print(type(x))
print(type(y))
print(x.shape)
print(y.shape)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
(32560, 14)
(32560,)

In [8]:
x.head()

,Age,Workclass,Fnlwgt,Education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States

In [9]:
y.head()

0     <=50K
1     <=50K
2     <=50K
3     <=50K
4     <=50K
Name: income, dtype: object

<h4 style="color:blue">Finding the object columns in X (input data frame)</h4>

In [10]:
cat_cols = [i for i in x.columns if x[i].dtypes=='object']
cat_cols

['Workclass',
 'Education',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native_country']

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
lb = LabelEncoder()
for i in cat_cols:
    x[i] = lb.fit_transform(x[i])

<h4 style="color:blue">Converting them into integers data type</h4>

In [13]:
x.dtypes

Age               int64
Workclass         int32
Fnlwgt            int64
Education         int32
education_num     int64
marital_status    int32
occupation        int32
relationship      int32
race              int32
sex               int32
capital_gain      int64
capital_loss      int64
hours_per_week    int64
native_country    int32
dtype: object

In [14]:
y.dtypes

dtype('O')

<h4 style="color:blue">Spliting the data into training and test data</h4>

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(x_test.shape)

(26048, 14)
(6512, 14)
(26048,)
(6512, 14)

<h4 style="color:blue">Creating confusion matrix and Classification report and Percentage Of Missclasification of models function</h4>
<b>Percentage Of Missclasification = (FP + FN)/(TP + FP + FN + TN)</b><br>
<b>Also Percentage Of Missclasification = 1 - Accuracy</b><br>

In [16]:
from sklearn.metrics import confusion_matrix,classification_report

In [17]:
from sklearn.metrics import accuracy_score
def gen_metrics(y_test,y_predict):
    cm = confusion_matrix(y_test,y_predict)
    print('confusion metrics \n',cm)
    print('classification report\n ',classification_report(y_test,y_predict))
    print('acuracy ', accuracy_score(y_test,y_predict))
    pom = 1 - accuracy_score(y_test,y_predict)
    print('Percentage Of Missclasification ', pom)

<h4 style = "color:blue">Validating Precision, Recall, F1-score, Accuracy for each model</h4> 
<h4 style = "color:blue">IMportant Formulas</h4> 

<b>1) Precision - TP/(TP+FP), TN/(TN+FN)</b><br>
From all the positively predicted cases, how many are actually positive<br>
From all the negatively predicted cases, how many are actually negative

<b>2) Recall - TP/(TP+FN), TN/(TN+FP)</b><br>
From all the actual positive cases, how many has the ML model predicted positive<br>
From all the actual negative cases, how many has the ML model predicted negative<br>

<b>3) F1-Score - 2 * Precision * Recall /( Precision + Recall)</b><br>
It is the Harmonic mean between Precision and Recall<br>

<b>4) Accuracy - (TP+TN)/(TP+FN+FP+TN) </b><br>
Out of all the values, how many the model has predicted correctly<br>
<br>
using the above formula we can verify from confusion matrix and classification report<br>
[[TP FN]<br>
[FP TN]]<br>

<h4 style="color:blue">1. Decision Tree</h4>

In [18]:
from sklearn.tree import DecisionTreeClassifier

In [19]:
m1 = DecisionTreeClassifier(criterion='gini',max_depth = 10,min_samples_split=25)
m1.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=10, min_samples_split=25)

In [20]:
print('training score ',m1.score(x_train,y_train))
print('testing score ',m1.score(x_test,y_test))

training score  0.8673218673218673
testing score  0.8536547911547911

In [21]:
y_predict_m1 = m1.predict(x_test)
print(y_predict_m1)

[' <=50K' ' <=50K' ' <=50K' ... ' >50K' ' <=50K' ' >50K']

In [22]:
gen_metrics(y_test,y_predict_m1)
print('testing score ',m1.score(x_test,y_test))

confusion metrics
 [[4560  360]
 [ 593  999]]
classification report
                precision    recall  f1-score   support

       <=50K       0.88      0.93      0.91      4920
        >50K       0.74      0.63      0.68      1592

    accuracy                           0.85      6512
   macro avg       0.81      0.78      0.79      6512
weighted avg       0.85      0.85      0.85      6512

acuracy  0.8536547911547911
Percentage Of Missclasification  0.14634520884520885
testing score  0.8536547911547911

<h4 style = "color:blue">checking Precision, Recall, F1-score, Accuracy from cnfusion matrix for decision tree</h4>

In [23]:
p = 4739/(4739+730)
r = 4739/(4739+224)
a = (4739 + 819)/(4739+730+819+224)
f = 2*p*r/(p+r)

print('precision ', p)
print('Recall ', r)
print('Accuracy ', a)
print('F1-score ', f)

precision  0.8665203876394222
Recall  0.9548660084626234
Accuracy  0.8535012285012284
F1-score  0.9085506134969326

<h4 style="color:blue">2. Random Forest Classifier</h4>

In [24]:
from sklearn.ensemble import RandomForestClassifier

In [25]:
m2 = RandomForestClassifier(n_estimators=50,criterion='entropy',max_depth=10,min_samples_split=12)
m2.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', max_depth=10, min_samples_split=12,
                       n_estimators=50)

In [26]:
print("training score ", m2.score(x_train,y_train))
print("testing score ", m2.score(x_test,y_test))

training score  0.8624462530712531
testing score  0.8530405405405406

In [27]:
y_predict_m2 = m2.predict(x_test)
print(y_predict_m2)

[' <=50K' ' <=50K' ' <=50K' ... ' >50K' ' <=50K' ' >50K']

In [28]:
gen_metrics(y_test,y_predict_m2)
print('testing score ',m2.score(x_test,y_test))

confusion metrics
 [[4714  206]
 [ 751  841]]
classification report
                precision    recall  f1-score   support

       <=50K       0.86      0.96      0.91      4920
        >50K       0.80      0.53      0.64      1592

    accuracy                           0.85      6512
   macro avg       0.83      0.74      0.77      6512
weighted avg       0.85      0.85      0.84      6512

acuracy  0.8530405405405406
Percentage Of Missclasification  0.14695945945945943
testing score  0.8530405405405406

<h4 style = "color:blue">checking Precision, Recall, F1-score, Accuracy from cnfusion matrix for random forest classifer</h4>

In [29]:
p = 4766/(4766+737)
r = 4766/(4739+197)
a = (4766 + 812)/(4766 + 812+197+737)
f = 2*p*r/(p+r)

print('precision ', p)
print('Recall ', r)
print('Accuracy ', a)
print('F1-score ', f)

precision  0.8660730510630565
Recall  0.9655591572123177
Accuracy  0.8565724815724816
F1-score  0.9131142829772967

<h4 style="color:blue">3. KNN</h4>

In [30]:
from sklearn.neighbors import KNeighborsClassifier

In [31]:
m3 = KNeighborsClassifier(n_neighbors= 13)
m3.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=13)

In [32]:
print('training score ', m3.score(x_train,y_train))
print('testing score ', m3.score(x_test,y_test))

training score  0.8095823095823096
testing score  0.792997542997543

In [33]:
y_predict_m3 = m3.predict(x_test)
print(y_predict_m3)

[' <=50K' ' <=50K' ' <=50K' ... ' >50K' ' <=50K' ' <=50K']

In [34]:
gen_metrics(y_test,y_predict_m3)
print('training score ', m3.score(x_test,y_test))

confusion metrics
 [[4778  142]
 [1206  386]]
classification report
                precision    recall  f1-score   support

       <=50K       0.80      0.97      0.88      4920
        >50K       0.73      0.24      0.36      1592

    accuracy                           0.79      6512
   macro avg       0.76      0.61      0.62      6512
weighted avg       0.78      0.79      0.75      6512

acuracy  0.792997542997543
Percentage Of Missclasification  0.207002457002457
training score  0.792997542997543

<h4 style = "color:blue">checking Precision, Recall, F1-score, Accuracy from cnfusion matrix for KNN</h4>

In [35]:
p = 4800/(4800+1181)
r = 4800/(4800+163)
a = (4800 + 368)/(4800 + 368+163+1181)
f = 2*p*r/(p+r)

print('precision ', p)
print('Recall ', r)
print('Accuracy ', a)
print('F1-score ', f)

precision  0.8025413810399599
Recall  0.9671569615152126
Accuracy  0.7936117936117936
F1-score  0.8771929824561403

<h4 style="color:blue">4.Logistic Regression</h4>

In [36]:
from sklearn.linear_model import LogisticRegression

In [37]:
m4 = LogisticRegression(max_iter=1000)
m4.fit(x_train,y_train)

LogisticRegression(max_iter=1000)

In [38]:
print('training score ', m4.score(x_train,y_train))
print('testing score ', m4.score(x_test,y_test))

training score  0.7879683660933661
testing score  0.7870085995085995

In [39]:
y_predict_m4 = m4.predict(x_test)
print(y_predict_m4)

[' <=50K' ' <=50K' ' <=50K' ... ' >50K' ' <=50K' ' <=50K']

In [40]:
gen_metrics(y_test,y_predict_m4)
print('testing score ',m4.score(x_test,y_test))

confusion metrics
 [[4646  274]
 [1113  479]]
classification report
                precision    recall  f1-score   support

       <=50K       0.81      0.94      0.87      4920
        >50K       0.64      0.30      0.41      1592

    accuracy                           0.79      6512
   macro avg       0.72      0.62      0.64      6512
weighted avg       0.77      0.79      0.76      6512

acuracy  0.7870085995085995
Percentage Of Missclasification  0.21299140049140053
testing score  0.7870085995085995

<h4 style = "color:blue">checking Precision, Recall, F1-score, Accuracy from cnfusion matrix for logistic regression</h4>

In [41]:
p = 4694/(4694+1099)
r = 4694/(4694+269)
a = (4694 + 450)/(4694 + 450+269+1099)
f = 2*p*r/(p+r)

print('precision ', p)
print('Recall ', r)
print('Accuracy ', a)
print('F1-score ', f)

precision  0.8102882789573623
Recall  0.9457989119484183
Accuracy  0.7899262899262899
F1-score  0.8728151729267386

<h4 style="color:blue">5.SVM</h4>

In [42]:
from sklearn.svm import SVC

In [ ]:
m5 = SVC(kernel='linear', C=1)
m5.fit(x_train,y_train)

In [ ]:
print('training score ',m5.score(x_train,y_train))
print('testing score ',m5.score(x_test,y_test))

In [ ]:
y_predict_m5 = m5.predict(x_test)
print(y_predict_m5)

In [ ]:
gen_metrics(y_test,y_predict_m5)
print('testing score ',m5.score(x_test,y_test))

<h4 style = "color:blue">checking Precision, Recall, F1-score, Accuracy from cnfusion matrix for SVC</h4>

<h4 style = "color:blue">Model with best Accuracy</h4>
<b>This may be change as train test split of the data set is taken as random<b>
<h4 style = "color:blue">We can clearly see the Random Forest Classifer has the highest accuracy</h4>